{% comment %}
Usage:
- With limit: {% include latest_content.html category="note" link="/notes" limit=4 %}
- Without limit: {% include latest_content.html category="note" link="/notes" %}
{% endcomment %}


{% assign sorted_posts = site.posts | sort: 'date' | reverse %}
{% assign count = 0 %}
{% assign total_posts = 0 %}

{% for post in sorted_posts %}
{% if include.category and post.categories contains include.category %}
{% assign total_posts = total_posts | plus: 1 %}
{% elsif include.exclude_category and post.categories contains include.exclude_category %}
{% continue %}
{% else %}
{% assign total_posts = total_posts | plus: 1 %}
{% endif %}
{% endfor %}

{% for post in sorted_posts %}
{% assign include_post = false %}
{% if include.category %}
{% if post.categories contains include.category %}
{% assign include_post = true %}
{% endif %}
{% else %}
{% if include.exclude_category %}
{% if post.categories contains include.exclude_category %}
{% assign include_post = false %}
{% else %}
{% assign include_post = true %}
{% endif %}
{% endif %}
{% endif %}

{% if include_post %}
{% if include.limit %}
{% if count >= include.limit %}
{% break %}
{% endif %}
{% endif %}
<article class="flex my-4">
  <div class="self-center">
    <h3 class="my-0 text-base">
      <a class="block mb-1" href="{{ post.url }}">{{ post.title }}</a>
    </h3>
  </div>
</article>
{% assign count = count | plus: 1 %}
{% endif %}
{% endfor %}

{% if include.limit and total_posts > include.limit %}
<a class="text-gray-500 no-underline" href="{{ include.link }}">Read more &#8594;</a>
{% endif %}
