<section class="mb-12">
  <h2 class="my-0 text-lg font-medium">👀 Curations</h2>

  <article class="flex my-4 leading-snug">
    <div class="self-center">
      <h3 class="my-0 text-base"> <a class="block mb-1" href="/links">Links</a>
      </h3>
      <p class="text-gray-500 text-sm">Searching the Internet is one of my hobbies, here are some of my discoveries.</p>
    </div>
  </article>
  <article class="flex my-4 leading-snug">
    <div class="self-center">
      <h3 class="my-0 text-base"> <a class="block mb-1" href="/books">Books</a>
      </h3>
      <p class="text-gray-500 text-sm">These are the books that in some way or another changed my way of thinking or I
        liked them so much that I can't forget them</p>
    </div>

  </article>
</section>
