<section>
  <h2>Curations</h2>

  <article class="flex my-4 leading-snug">
    <div class="self-center">
      <h3 class="my-0"> <a class="block mb-1" href="/links">Links</a>
      </h3>
      <p class="text-gray-600 my-0">Searching the Internet is one of my hobbies, here are some of my discoveries.</p>
    </div>
  </article>
  <article class="flex my-4 leading-snug">
    <div class="self-center">
      <h3 class="my-0"> <a class="block mb-1" href="/books">Books</a>
      </h3>
      <p class="text-gray-600 my-0">These are the books that in some way or another changed my way of thinking or I
        liked them so much that I can't forget them</p>
    </div>

  </article>
</section>
