{% comment %}
Usage:
- For including specific category: {% include latest_content.html category="note" title="📝 Notes" link="/notes" %}
- For excluding a category: {% include latest_content.html exclude_category="note" title="📮 Essays" link="/essays" %}
{% endcomment %}

<section class="mb-12">
  <h2 class="my-0 text-lg font-medium">{{ include.title }}</h2>
  {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
  {% assign count = 0 %}
  {% for post in sorted_posts %}
  {% assign include_post = false %}

  {% if include.category %}
  {% if post.categories contains include.category %}
  {% assign include_post = true %}
  {% endif %}
  {% else %}
  {% if include.exclude_category %}
  {% if post.categories contains include.exclude_category %}
  {% assign include_post = false %}
  {% else %}
  {% assign include_post = true %}
  {% endif %}
  {% endif %}
  {% endif %}

  {% if include_post and count < 4 %} <article class="flex my-4">
    <div class="self-center">
      <h3 class="my-0 text-base">
        <a class="block mb-1" href="{{ post.url }}">{{ post.title }}</a>
      </h3>
    </div>
    </article>
    {% assign count = count | plus: 1 %}
    {% endif %}

    {% if count >= 4 %}
    {% break %}
    {% endif %}
    {% endfor %}
    <a class="text-gray-500 no-underline" href="{{ include.link }}">Read more &#8594;</a>
</section>
