<nav class="relative z-20 mb-12">
  <div class="flex justify-between items-center">
    <div class="flex items-center align-baseline max-w-full">
      <div class="flex pr-4 md:pr-6 lg:pr-8">
        <a href="{{ site.baseurl }}/" class="flex items-center no-underline" aria-label="Alberto Gallego picture">
          <img src="/assets/images/me.jpg" class="h-12 w-12 md:h-14 md:w-14 lg:h-16 lg:w-16 rounded-full my-0"
            alt="Logo" />
        </a>
      </div>
      <div>
        <h1 class="block text-black font-bold mb-0">Alberto
          Gallego</h1>
        <p class="text-gray-500">
          My personal space
        </p>
      </div>
    </div>
  </div>
</nav>
