<div class="bg-gray-50 p-4 rounded-lg border border-gray-200">
  <h2 class="text-lg font-medium mb-2 my-0">✉️ Subscribe to my newsletter </h2>
  <p class="text-gray-500">I share my path in the search for independence through software, photography
    and writing</p>
  <div id="custom-substack-embed"></div>

</div>

<script>
  window.CustomSubstackWidget = {
    substackUrl: "albertogalca.substack.com",
    placeholder: "example@amazing.com",
    buttonText: "Subscribe",
    theme: "custom",
    colors: {
      primary: "#171717",
      input: "#ffffff",
      email: "#171717",
      text: "#FFFFFF",
    },
  };
</script>
<script src="https://substackapi.com/widget.js" async></script>
