<div class="bg-gray-50 p-4 rounded-lg border border-gray-200">
  <h2 class="text-lg font-medium mb-2 my-0">✉️ Subscribe to my newsletter </h2>
  <p class="text-gray-500">I share my path in the search for independence through software, photography
    and writing</p>
  <iframe class="w-full" src="https://embeds.beehiiv.com/16c64344-1ff0-4c05-9dd1-6ef71cacf627?slim=true"
    data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no"
    style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>

  <script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
