---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-Black.woff2") format("woff2"),
    url("../fonts/CrimsonPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/CrimsonPro-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-ExtraBold.woff2") format("woff2"),
    url("../fonts/CrimsonPro-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-Bold.woff2") format("woff2"),
    url("../fonts/CrimsonPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-BlackItalic.woff2") format("woff2"),
    url("../fonts/CrimsonPro-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-BoldItalic.woff2") format("woff2"),
    url("../fonts/CrimsonPro-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-Italic.woff2") format("woff2"),
    url("../fonts/CrimsonPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-ExtraLight.woff2") format("woff2"),
    url("../fonts/CrimsonPro-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/CrimsonPro-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-Medium.woff2") format("woff2"),
    url("../fonts/CrimsonPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-Light.woff2") format("woff2"),
    url("../fonts/CrimsonPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-LightItalic.woff2") format("woff2"),
    url("../fonts/CrimsonPro-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-MediumItalic.woff2") format("woff2"),
    url("../fonts/CrimsonPro-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-Regular.woff2") format("woff2"),
    url("../fonts/CrimsonPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-SemiBold.woff2") format("woff2"),
    url("../fonts/CrimsonPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/CrimsonPro-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
