<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">


<head>
  {% include head.html %}
</head>

<body
  class="bg-background antialiased text-primary font-serif flex flex-col justify-between min-h-screen overflow-x-hidden animate-fade">
  <main class="p-6 lg:p-12">

    <header class="flex items-center justify-between">
      <h1 class="text-3xl lg:text-6xl w-full lg:max-w-3xl tracking-wide">Hello, we are <a
          class="underline underline-offset-8 decoration-2 italic" href="https://x.com/marga_camps" target="_blank"
          rel="noopener noreferrer">Marga</a> and <a class="underline underline-offset-8 decoration-2 italic"
          href="https://albertogalca.com/" target="_blank" rel="noopener noreferrer">Alberto<a /> and this is
          <i>Creare</i>. We
          collect
          spaces to be
          creative and to
          work remotely around the
          world
      </h1>
      <img src="/assets/images/shape-1.svg" class="w-[253px] h-auto lg:block hidden" />
    </header>

    <hr class="mt-16 mb-16 lg:mb-32 border-primary" />
    {{ content }}
  </main>

  <footer class="px-6 py-2 lg:px-12 lg:py-4">
    <p class="text-lg lg:text-xl tracking-wide leading-relaxed"><span
        class="mr-2 animate-pulse duration-1000 ">💙</span> Spaces
      lovingly curated
      by two people
      who enjoy
      beauty.
      Illustrations
      by <a class="underline" href="https://thenounproject.com/creator/karimow-25/" target="_blank"
        rel="noopener noreferrer">Maria Zamchy</a>.
    </p>
  </footer>
</body>

</html>
